<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Users</title>
    <% var message %>
    <% var users %>
    <% var display %>
</head>
<body>
<div class="first-div">
    <h1>Users Management</h1>
    <form>
        <div>
            <label>
                <input type="text" placeholder="Username" name="user" id="user" required>
            </label>
            <div class="second-div">
                <button formaction="/users" formmethod="post" onclick="$('#user').val($('#user').val() + ':add')" type="submit">Add User</button>
                <button formaction="/users" formmethod="post" onclick="$('#user').val($('#user').val() + ':delete')" type="submit">Delete User</button>
            </div>
        </div>
    </form>
    <label style="color: red; display: <%- display -%>"><%- message -%></label>
    <div class="second-div">
        <h2>Users:</h2>
        <div class="second-div">
            <%- users -%>
        </div>
    </div>
</div>
</body>
</html>
